
<div *ngIf="speaker">
    <h2><span>Speaker</span> {{speaker.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{speaker.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{speaker.lastName}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{speaker.email}}</span>
        </dd>
        <dt><span>Twitter</span></dt>
        <dd>
            <span>{{speaker.twitter}}</span>
        </dd>
        <dt><span>Bio</span></dt>
        <dd>
            <span>{{speaker.bio}}</span>
        </dd>
        <dt><span>Session</span></dt>
        <dd>
            <span *ngFor="let session of speaker.sessions; let last = last">
                <a [routerLink]="['/session', session?.id ]">{{session.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'speaker/'+ speaker.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
